In [1]:
import pandas as pd
import csv
from collections import defaultdict

In [2]:
with open('ListOfCities.csv', newline='') as f:
    reader = csv.reader(f)
    final_cities = list(reader)
# for i,city in final_cities:
#     players = pd.read_csv("Seasons_Stats.csv",
#                     delimiter = ',',
final_cities = [final_cities[i][0] for i in range(56)]

In [3]:
city_data_dict = defaultdict(list)
for i in range(len(final_cities)):
    data = pd.read_csv("{}.csv".format(final_cities[i]), delimiter = ',')
    city_name = final_cities[i][0]
    city_data_dict[city_name].append(data)

In [15]:
city_data_list = []
for i in range(len(final_cities)):
    data = pd.read_csv("{}.csv".format(final_cities[i]), delimiter = ',', header = None)
    data.columns = ['{}'.format(final_cities[i]), 'Value'] 
    data.index +=1
    city_data_list.append(data)

In [5]:
indian_states = ["Andhra Pradesh","Arunachal Pradesh ","Assam","Bihar","Chhattisgarh","Goa","Gujarat","Haryana","Himachal Pradesh","Jammu and Kashmir","Jharkhand","Karnataka","Kerala","Madhya Pradesh","Maharashtra","Manipur","Meghalaya","Mizoram","Nagaland","Odisha","Punjab","Rajasthan","Sikkim","Tamil Nadu","Telangana","Tripura","Uttar Pradesh","Uttarakhand","West Bengal","Andaman and Nicobar Islands","Chandigarh","Dadra and Nagar Haveli","Daman and Diu","Lakshadweep","Delhi","Puducherry"]

In [6]:
from indian_cities.dj_city import cities
from collections import defaultdict

In [7]:
states_cities_dict = defaultdict(list)
cities_list = []
cnt=0
for state in indian_states:
    for i in range(len(cities)):
        if state == cities[i][0]:
            for j in range(len(cities[i][1])):
                city = set([city for city in cities[i][1][j] if city in final_cities])
                if len(city) == 1:
                    cnt+=1
                    c = city.pop()
                    states_cities_dict[state].append(c)
                    cities_list.append(c)
                    
cnt
missing = [city for city in final_cities if city not in cities_list]
missing

['Bangalore',
 'Burdwan',
 'Ernakulam',
 'Goa',
 'Greater-Noida',
 'Guwahati',
 'Kozhikode-Calicut',
 'Lucknow-Lakhnau',
 'Mohali-Sahibzada-Ajit-Singh-Nagar',
 'Navi-Mumbai',
 'Thane',
 'Vasai']

In [8]:
states_cities_dict["Karnataka"].append("Bangalore")
states_cities_dict["West Bengal"].append("Burdwan")
states_cities_dict["Assam"].append("Guwahati")
states_cities_dict["Uttar Pradesh"].append("Lucknow")
states_cities_dict["Uttar Pradesh"].append("Greater Noida")
states_cities_dict["Punjab"].append("Mohali")
states_cities_dict["Goa"].append("Goa")
states_cities_dict["Kerala"].append("Ernakulum")
states_cities_dict["Kerala"].append("Kozhikode")
states_cities_dict["Maharashtra"].append("Navi Mumbai")
states_cities_dict["Maharashtra"].append("Thane")
states_cities_dict["Maharashtra"].append("Vasai")

In [9]:
states_cities = states_cities_dict
states_cities

defaultdict(list,
            {'Andhra Pradesh': ['Visakhapatnam', 'Vijayawada'],
             'Bihar': ['Patna', 'Aurangabad'],
             'Chhattisgarh': ['Raipur', 'Bilaspur'],
             'Gujarat': ['Ahmedabad', 'Surat', 'Vadodara', 'Rajkot'],
             'Haryana': ['Faridabad', 'Gurgaon', 'Rohtak'],
             'Jammu and Kashmir': ['Srinagar', 'Jammu'],
             'Karnataka': ['Mysore', 'Mangalore', 'Bangalore'],
             'Kerala': ['Thiruvananthapuram',
              'Kochi',
              'Palakkad',
              'Ernakulum',
              'Kozhikode'],
             'Madhya Pradesh': ['Indore', 'Bhopal', 'Jabalpur'],
             'Maharashtra': ['Mumbai',
              'Pune',
              'Nagpur',
              'Aurangabad',
              'Navi Mumbai',
              'Thane',
              'Vasai'],
             'Odisha': ['Bhubaneswar', 'Cuttack'],
             'Punjab': ['Ludhiana', 'Mohali'],
             'Rajasthan': ['Jaipur', 'Bikaner'],
             'Tamil Nadu': ['Chennai', 'Coimbatore', 'Madurai'],
             'Telangana': ['Hyderabad'],
             'Tripura': ['Agartala'],
             'Uttar Pradesh': ['Kanpur',
              'Ghaziabad',
              'Moradabad',
              'Noida',
              'Lucknow',
              'Greater Noida'],
             'Uttarakhand': ['Dehradun'],
             'West Bengal': ['Kolkata', 'Burdwan'],
             'Chandigarh': ['Chandigarh'],
             'Delhi': ['Delhi'],
             'Assam': ['Guwahati'],
             'Goa': ['Goa']})

In [16]:
city_data_list[5]

                                          Bhubaneswar           Value
1                        Meal, Inexpensive Restaurant        150.00 ₹
2   Meal for 2 People, Mid-range Restaurant, Three...      1,000.00 ₹
3      McMeal at McDonalds (or Equivalent Combo Meal)        300.00 ₹
4                   Domestic Beer (0.5 liter draught)        145.00 ₹
5                   Imported Beer (0.33 liter bottle)        250.00 ₹
6                                Cappuccino (regular)        126.15 ₹
7                      Coke/Pepsi (0.33 liter bottle)         29.72 ₹
8                           Water (0.33 liter bottle)         12.18 ₹
9                           Milk (regular), (1 liter)         48.60 ₹
10                   Loaf of Fresh White Bread (500g)         36.53 ₹
11                                Rice (white), (1kg)         42.36 ₹
12                                Eggs (regular) (12)         78.86 ₹
13                                 Local Cheese (1kg)        272.86 ₹
14                              Chicken Fillets (1kg)        219.47 ₹
15  Buffalo Round (1kg) (or Equivalent Back Leg Re...        605.00 ₹
16                                       Apples (1kg)        184.54 ₹
17                                       Banana (1kg)         51.67 ₹
18                                      Oranges (1kg)         94.38 ₹
19                                       Tomato (1kg)         45.62 ₹
20                                       Potato (1kg)         25.62 ₹
21                                        Onion (1kg)         29.71 ₹
22                                   Lettuce (1 head)         33.75 ₹
23                           Water (1.5 liter bottle)         29.78 ₹
24                         Bottle of Wine (Mid-Range)        950.00 ₹
25                   Domestic Beer (0.5 liter bottle)        141.30 ₹
26                  Imported Beer (0.33 liter bottle)        205.45 ₹
27                      Cigarettes 20 Pack (Marlboro)        300.00 ₹
28                   One-way Ticket (Local Transport)         50.00 ₹
29                       Monthly Pass (Regular Price)        450.00 ₹
30                         Taxi Start (Normal Tariff)         95.00 ₹
31                           Taxi 1km (Normal Tariff)         20.00 ₹
32                 Taxi 1hour Waiting (Normal Tariff)        200.00 ₹
33                                 Gasoline (1 liter)        104.64 ₹
34  Volkswagen Golf 1.4 90 KW Trendline (Or Equiva...  1,000,000.00 ₹
35  Toyota Corolla Sedan 1.6l 97kW Comfort (Or Equ...  2,433,333.33 ₹
36  Basic (Electricity, Heating, Cooling, Water, G...      2,526.85 ₹
37  1 min. of Prepaid Mobile Tariff Local (No Disc...          1.19 ₹
38  Internet (60 Mbps or More, Unlimited Data, Cab...        786.08 ₹
39              Fitness Club, Monthly Fee for 1 Adult      1,415.38 ₹
40              Tennis Court Rent (1 Hour on Weekend)      1,140.00 ₹
41              Cinema, International Release, 1 Seat        300.00 ₹
42  Preschool (or Kindergarten), Full Day, Private...      5,597.22 ₹
43   International Primary School, Yearly for 1 Child     95,750.00 ₹
44             1 Pair of Jeans (Levis 501 Or Similar)      2,700.00 ₹
45   1 Summer Dress in a Chain Store (Zara, H&M, ...)      2,100.00 ₹
46           1 Pair of Nike Running Shoes (Mid-Range)      3,707.69 ₹
47               1 Pair of Men Leather Business Shoes      2,130.77 ₹
48               Apartment (1 bedroom) in City Centre     12,250.00 ₹
49            Apartment (1 bedroom) Outside of Centre      9,500.00 ₹
50              Apartment (3 bedrooms) in City Centre     22,916.67 ₹
51           Apartment (3 bedrooms) Outside of Centre     15,928.57 ₹
52  Price per Square Meter to Buy Apartment in Cit...     84,838.10 ₹
53  Price per Square Meter to Buy Apartment Outsid...     46,198.00 ₹
54             Average Monthly Net Salary (After Tax)     48,166.67 ₹
55  Mortgage Interest Rate in Percentages (%), Yea...            8.79

In [ ]:
states